.column1 {
    float: left;
    width: 10%;
    margin: 5px;
}

.column2 {
    width: 50%;
    float: left;
    margin: 5px;
}

.column3 {
    float: right;
    width: 30%;
    margin: 5px;
}

.column4 {
    clear: both;
    width: 100%;
}